html, body {
    background-color: #000000;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

#wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    width: 360px;
    height: 480px;
    padding: 10px;
    box-shadow: 2px 2px 6px #ccc;
    border-radius: 10px;
    text-align: center;
}

#footer {
    width: 360px;
    padding: 10px;
    box-shadow: 2px 2px 6px #222;
    background-color: #333;
    color: white;
    border-radius: 10px;
    text-align: center;
}

@media (max-width: 1200px) {
    #wrapper {
        margin: 100px auto 20px auto;
    }

    #footer {
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    #wrapper {
        position: fixed;
        top: 100px;
        right: 100px;
    }

    #footer {
        position: fixed;
        top: 640px;
        right: 100px;
    }
}

.container {
    width: 100%;
    clear: both;
    margin-top: 10px;
}